/**
 * Tab Component Demo for tingle
 * @author zhangshun
 *
 * Copyright 2014-2015, Tingle Team, Alinw.
 * All rights reserved.
 */

// tingle-style's utils
@require '../node_modules/tingle-style/src/var'

body
  background-color #f2f2f2

.demoListView
  li
    line-height: rem(40)
    border-bottom: 1px solid #eee;
    overflow: hidden;

.tTabBody
  padding: rem(10);
  background-color: #FFEAE5
  color #333;

.hairline
  .demoListView
    li
      border-bottom-width: 0.5px